.letstalk {
    background-color: #ffffff;
    height: 939px;
    position: relative;
    width: 1512px;
}

.letstalk .title {
    color: #0b24f5;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 80px;
    font-weight: 700;
    left: 567px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 127px;
}

.letstalk .frame {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 64px;
    left: 550px;
    position: absolute;
    top: 354px;
}

.letstalk .ellipse {
    height: 164px;
    position: relative;
    width: 164px;
}

.letstalk .div {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.letstalk .text-wrapper {
    color: #000000;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.letstalk .textwrapper2 {
    color: #000000;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
}

.letstalk .sociallinks {
    align-items: flex-end;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 32px;
    position: relative;
}

.letstalk .iconinstancenode {
    height: 32px !important;
    position: relative !important;
    width: 32px !important;
}
